
<ion-grid class="bg-image no-scroll"> 
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> 
            <form #form="ngForm" (ngSubmit) = "Login(form)" >     
            <div text-center>
                <ion-avatar class="avatars">
                    <img  src="../../assets/avatar.png" >
                  </ion-avatar>                
            </div>        
          <div padding>                                        
                <ion-item>
                  <ion-icon name="person" item-start></ion-icon>
                  <ion-input name="firstName" type="text" placeholder="Username" ngModel required ></ion-input>
                </ion-item>
        
                <ion-item>  
                    <ion-icon name="lock" item-start></ion-icon>
                  <ion-input name="lastName" type="password" placeholder="Password" ngModel required ></ion-input>
                </ion-item>
              </div>                                                
          <div padding>
            <ion-button color="primary"  size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>          
          </div>  
        </form>
        </ion-col >
      </ion-row>      
</ion-grid>

 




