<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PetClinic-Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="citas.length  == 0">
    Ninguna cita
  </ion-item>
  <ion-card *ngFor="let cita of citas; let i = index;"   color={{calculateAgeColor(cita.confirmacion)}} >
    <ion-card-header (click)="action(cita, i)">
      <ion-card-subtitle *ngIf="cita.confirmacion==0">En Espera <ion-icon name="clock"></ion-icon>  </ion-card-subtitle>
      <ion-card-subtitle *ngIf="cita.confirmacion==1">Confirmada <ion-icon name="checkmark"></ion-icon></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content (click)="action(cita, i)">
      <ion-list >
        <ion-item>
          <ion-label>Fecha: {{cita.fecha}} Hora: {{cita.hora}}</ion-label>
        </ion-item>
        <div *ngFor="let esp of especialidades">          
            <ion-item *ngIf="cita.especialidad === esp.id" >Especialidad: {{esp.name}}</ion-item> 
        </div>
        <div  *ngFor="let mascota of mascotas">
            <ion-item *ngIf="cita.mascota == mascota.id" >Mascota: {{mascota.name}}</ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="iraCita()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<!---ion-content>

  <ion-item  *ngFor="let mascota of mascotas"  >
          <ion-label *ngIf="cita.mascota == mascota.id" >Mascota: {{mascota.name}}</ion-label>              
        </ion-item>
  <ion-item>
                      <ion-label *ngIf="item.especialidad == 1">Especialidad: Cardiologia</ion-label>
                      <ion-label *ngIf="item.especialidad == 2">Especialidad: Fisioterapia</ion-label>
                      <ion-label *ngIf="item.especialidad == 3">Especialidad: Fisioterapia</ion-label>
                    </ion-item>
                  <ion-item>
                      <ion-label *ngIf="item.mascota == 1">Mascota: Arisquito</ion-label>
                      <ion-label *ngIf="item.mascota == 3">Mascota: Gratus1</ion-label>
                      <ion-label *ngIf="item.mascota == 4">Mascota: Gratus2</ion-label>
                  </ion-item> 

</ion-content-->